.selectFileButton {
    background-color: #60a9c1;
    color: white;
    border: 2px;
}

.selectFileButton:hover {
    background-color: #fe82fb;
    color: white;
}
.uploadFileButton {
    background-color: #5ac189;
    color: white;
    border: 2px;
}

.uploadFileButton:hover {
    background-color: #874caf;
    color: white;
}
